.wrapper {
    position: relative;
    display: inline-flex;
    padding: 8px;
    flex-direction: column;
    align-items: center;
}

.info {
    text-align: center;
    margin-top: -95px;
    color: #666;
    position: relative;
    bottom: -15px;
}

.container {
    position: relative;
}

.like,
.remove {
    background-color: transparent;
    border: none;
    cursor: pointer;
    box-sizing: border-box;
    position: absolute;
}
.btm{
    margin-top: 100px;

}
.like {
    font-size: 30px;
    right: 190px;
    z-index: 2;
    bottom: 62px;
}

.remove {
    font-size: 25px;
    left: 190px;
    bottom: 65px;
    z-index: 1;
}

.container img {
    width: 225px;
    height: 225px;
    cursor: default;
    object-fit: cover;
}